 /* hero section*/ 
 
 /* universal selector  */
 *{
   padding:0px;
   margin:0px; 
 }
 body{
    background-color: gainsboro;
    color: black;
    font-family: "Poppins" Times, serif ;
    
 }
 /* class selector*/
 .hero{
   padding: 100px;
 }
 .hero__title{
    color:black; 
 }
 .hero__description{
    color: #217e15;
 } 
 .hero__highlight{
    color: aliceblue ;
 }
 /* feature section*/

 .feature{
    padding: 100px;
 }
 .feature__item{
    padding: 20px 0px;
 }
 .feature__title{
    font-size:2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #217e15;
    margin-bottom:10px;
   
 }
 .feature__title--selected{
    text-decoration:underline;
 }
 .feature__description{ 
    /* text-align: center; */
    /* letter-spacing: ; */
    /* line-height: 2.2rem;*/
     /* word-spacing:3rem; */
     /* white-space: nowrap */

 }
 /* 3.COLOR- call to action */
.cta{
    padding: 100px;
    background-color: #217e15;
    color: #fff;
    text-align: center;
}
.cta__title{

}
.cta__description{
    padding: 15px 0;
    color: #dbdbdb;

}
button{
     color:none;
     border:none;
}
.cta__button{
    padding:10px 20px; 
}
/* box modol*/
.video{
    text-align: center;
    padding: 100px;
    font-weight: 500;
}
.video__title{
    font-size: 32px;
    font-weight: 500;
}
.video__description{
    margin-top: 10px;
    font-weight: 300;
    color: #6e6e6e;
}
.video__controls{
    margin-top: 20px;
}
.video__button{
    border: 1px solid #5bb471;
    background: none;
    padding: 10px 20px;
}
.video__button--primary{
    margin-right: 10px;
}
.video__container{
    margin-top: 20px;
    background-color: #ccc;
    width: 100%;
    height: 500px;
    box-shadow: 1px 4px 7px 4px rgba(0,0,0,0.33);
}
/* flex program section */
.programs{
    padding: 100px;
    background-color: #eee;
    padding-bottom: 200px;
    border:1px solid red;

}
 .programs__cards{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.programs__card{
    background-color: #b5b5b5;
    padding: 30px;
    height: 400px;
    width: 25%;
} 